.Blood{
    background-image: url("../media/BloodBackground.png");
    background-size: cover;
    background-size: 100%;
    background-repeat: no-repeat;
    padding-bottom: 500px;
}
.Blood .topblood{
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-items: center;
    padding: 55px 10px 50px 0px;
}
.Blood .topblood h2{
    width: 45%;
    color: #0282ed;
    font-size: 30px;
    cursor: default;
}
.Blood .topblood{
    display: flex;
    justify-content: space-evenly;
}
.Blood .topbloodImage{
    width: 22%;
    margin-left: -20px;
}
.Blood .topblood img{
    width: 100%;
    height: 100%;
}
.Blood .downblood{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: nowrap;
    padding: 80px 40px 0px;
}
.Blood .downblood a{
    width: calc(20% - 65px);
    height: 210px;
    background-color: #167cc1;
    color: white;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px 15px;
    margin: 0px 10px;
    cursor: pointer;
    border: 2px solid #167cc1;
    transition-duration: 1s;
}
.Blood .downblood a .icon{
    width: 100px;
    height: 100px;
    padding: 20px;
    border-radius: 50%;
    background-color: white;
    transition-duration: 1s;
}
.Blood .downblood a img{
    width: 100%;
    height: 100%;
    transition-duration: 0.5s;

}
.Blood .downblood a h4{
    width: 100%;
    text-align: center;
    font-size: 14px;
    margin: 10px 0px 0px;
}

    .Blood .downblood a:hover{
        background-color: white;
        color: #167cc1;
        animation: light 0.8s linear 0.8s infinite alternate ;
        transform: scaleX(1.2) scaleY(1.2);
        transition-duration: 1s;
    }
    .Blood .downblood a:hover .icon{
        background-color: #167dc142;
        width: 110px;
    }
    @keyframes light {
        to{
            box-shadow: 0px 0px 15px 7px #0283edab;
        }
    }

    @media (max-width:1157px) {
        .Blood .topblood h2{
            width: 46%;
            font-size: 28px;
        }
        .Blood .topbloodImage{
            margin-left: -30px;
        }
        .Blood .downblood a h4{
            font-size: 12px;
        }
        .Blood .downblood a{
            padding-bottom: 5px;
        }
    }
    
    @media (max-width:1075px) {
            .Blood .topblood{
                padding-top: 45px;
            }
            .Blood .topblood h2{
                width: 46%;
                font-size: 26px;
                margin-top: -30px;
            }
            .Blood .downblood a h4{
                font-size: 12px;
            }
            .Blood .downblood a{
                height: 180px;
                padding-bottom: 5px;
            }
            .Blood .downblood a .icon{
                width: 80px;
                height: 80px;
                padding: 15px;
            }
            .Blood .downblood a:hover .icon{
                width: 80px;
            }
        }
    
    @media (max-width:987px) {
        .Blood .topblood h2{
            font-size: 24px;
        }
        .Blood .downblood a h4{
            font-size: 12px;
        }
        .Blood .downblood a{
            height: 170px;
        }
        .Blood .downblood a .icon{
            width: 70px;
            height: 70px;
        }
        .Blood .downblood a:hover .icon{
            width: 70px;
        }
        }
    @media (max-width:926px) {
            .Blood .topblood{
                padding-top: 35px;
            }
            .Blood .topblood h2{
                font-size: 22px;
            }
            .Blood .downblood a{
                height: 165px;
                width: calc(20% - 50px)
            }
            .Blood .downblood a h4{
                font-size: 11px;
                margin-top: 5px;
            }
            .Blood .downblood a .icon{
                width: 70px;
                height: 70px;
            }
            .Blood .downblood a:hover .icon{
                width: 70px;
            }
        }
    
    
    @media (max-width:840px) {
            .Blood .topblood h2{
                font-size: 20px;
            }
            .Blood .downblood a{
                height: 155px;
                width: calc(20% - 45px)
            }
            .Blood .downblood a h4{
                font-size: 10px;
                margin-top: 3px;
            }
            .Blood .downblood a .icon{
                width: 60px;
                height: 60px;
            }
            .Blood .downblood a:hover .icon{
                width: 60px;
            }
        }
    @media (max-width:767px) {
        .Blood .topblood h2{
            font-size: 18px;
        }
        .Blood .downblood a{
            height: 155px;
            width: 20%
        }
        .Blood .downblood a .icon{
            width: 50px;
            height: 50px;
        }
        .Blood .downblood a:hover .icon{
            width: 50px;
        }
    }
    @media (max-width:713px) {
        .Blood .topblood h2{
            font-size: 18px;
            width: 48%;
        }
        .Blood .downblood{
            flex-wrap: wrap;
        }
        .Blood .downblood a{
            width: 20%;
            margin-top: 30px;
        }
        .Blood .downblood a .icon{
            width: 60px;
            height: 60px;
        }
        .Blood .downblood a:hover .icon{
            width: 60px;
        }
        .Blood .downblood a h4{
            font-size: 11px;
        }
        }
    
    @media (max-width:655px) {
        .Blood .topblood h2{
            font-size: 16px;
            width: 48%;
        }
        }
    
    
    @media (max-width:584px) {
            .Blood .topblood {
                padding-top: 20px;
            }
            .Blood .topblood h2{
                font-size: 14px;
            }
            .Blood .downblood a{
                margin-top: 25px;
                height: 140px;
            }
            .Blood .downblood a .icon{
                width: 50px;
                height: 50px;
            }
            .Blood .downblood a:hover .icon{
                width: 50px;
            }
            .Blood .downblood a h4{
                font-size: 10px;
            }
            
        }
    
    @media (max-width:512px) {
                .Blood .topblood h2{
                    font-size: 13px;
                    width: 48%;
                }
        }
    
    @media (max-width:493px) {
            .Blood {
                background-image: url(../media/BloodBackGroundSmallScreen.png);
            }
            .Blood .topblood {
                padding-top: 60px;
            }
            .Blood .topblood h2{
                font-size: 12px;
                margin-right: 15px;
            }
            .Blood .downblood a{
                margin-top: 25px;
                height: 110px;
                width: 17%;
            }
            .Blood .downblood a .icon{
                width: 35px;
                height: 35px;
                padding: 10px;
            }
            .Blood .downblood a:hover .icon{
                width: 35px;
            }
            .Blood .downblood a h4{
                font-size: 8px;
            }
            
        }
    
        @media (max-width:439px) {
            .Blood .topblood h2{
                font-size: 11px;
            }
        }
    
    @media (max-width:420px) {
            .Blood .topbloodImage {
                    margin-top: -5px;
                }
            .Blood .topblood h2{
                font-size: 10px;
                margin-right: 15px;
            }
            .Blood .downblood a{
                margin-top: 15px;
                height: 110px;
                width: 17%;
            }
            .Blood .downblood a .icon{
                width: 35px;
                height: 35px;
                padding: 10px;
            }
            .Blood .downblood a:hover .icon{
                width: 35px;
            }
            .Blood .downblood a h4{
                font-size: 8px;
            }
            
        }
    