.Page{
    background-image: url("../media/background.png");
    background-color: white;
    background-size: 100% ;
    background-repeat: no-repeat;
    padding-bottom: 50px;
}
.Home{
    display: flex;
    padding: 40px 11% 30px 8%;
    align-items: center;
}
.Home .LeftHome {
    text-align: center;
    width: 50%;
}
.Home .RightHome {
    width: 50%;
}
.Home .LeftHome img{
    width: 80%;
}
.Home .RightHome .RightHomeImage{
    width: 70%;
}
.Home .RightHome .RightHomeImage img{
    width: 100%;
    height: 100%;
}

.Home .LeftHome .Hash{
    position: relative;
}
.Home .LeftHome .Hash h3{
    position: absolute;
    color: #1c7cb8;
    font-size: 28px;
    font-weight: bold;
    left: 50%;
    bottom: 0%;
    transform: translate(-37%,50%);
}
.Home .LeftHome .buttons{
margin-top: 60px;
display: flex;
justify-content: center;
margin-right: -70px;
}
.Home .LeftHome .buttons a{
font-size: 22px;
padding: 6px 25px;
border: 2px solid #0282ed;
border-radius: 40px;
font-weight: bold;
margin: 0px 12px;
box-shadow: 0px 0px 8px 2px #0283ed65;
width: 160px;
}
.Home .LeftHome .buttons a:hover{
    background: rgb(28,124,184);
    background: linear-gradient(100deg, rgba(28,124,184,1) 0%, rgba(2,130,237,1) 65%); 
    color: white;
    transition-duration: 0.8s;
}
.Page .ArrowToBottom{
margin-bottom: 100px;
text-align: center;
}
.Page .ArrowToBottom i{
font-size: 38px;
color: #0282ed;
animation: ArrowToBottom 1s linear infinite alternate ;
}
@keyframes ArrowToBottom {
    0%{
        transform: translateY(50%);
    }
    20%{
        transform: translateY(0%);
    }
    40%{
        transform: translateY(50%);
    }
    60%{
        transform: translateY(0%);
    }
    100%{
        transform: translateY(0%);
    }
}
.Slider{
    background-color: #1c7cb8;
    color: white;
    font-weight: bold;
    font-size: 20px;
    width: 520px;
    margin:1% auto 50px; /*Edit*/
    padding: 15px 50px;
    text-align: center;
    border-radius: 10px;
    position: relative;
    height: 50px;
    margin-bottom: 15px;
}
.Slider ul{
    overflow: hidden;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 10px;
}
.Slider ul li{
    cursor:default;
}
.Slider .Arrow{
    position: absolute;
    top: 50%;
    padding: 5px 15px;
    background-color: #009cfe;
    border-radius: 50%;
    cursor: pointer;
    z-index: 10;
}
.Slider .Arrow:first-of-type{
    right: 0%;
    transform: translate(50%,-50%);
}
.Slider .Arrow:last-of-type{
    left: 0%;
    transform: translate(-50%,-50%);
}
.Slider li{
    position: absolute;
    top: 50%;
    left: -55%;
    transform: translate(-50%,-50%);
    width: 100%;
    font-weight: bold;
    color: white;
    transition-duration: 0.8s;
    width: 90%;
}


@media (max-width:1075px) {
    .Home{
        padding: 50px 11% 30px 8%;
    }
    .Home .LeftHome .buttons a{
        font-size: 20px;
        padding: 5px 22px;
        width: 150px;
        }
    }

@media (max-width:987px) {
    .Home{
        padding: 40px 11% 30px 8%;
    }
    .Home .LeftHome .buttons{
        justify-content: space-evenly;
        }
    .Home .LeftHome .buttons a{
        font-size: 16px;
        padding: 4px 18px;
        width: 130px;
        }
    }
@media (max-width:926px) {
    .Home{
        padding: 40px 11% 30px 8%;
    }
        .Slider{
            margin-top: 8%;
        }
    }


@media (max-width:840px) {
    .Home{
        padding: 30px 11% 30px 8%;
    }
    .Home .LeftHome .buttons a{
        font-size: 14px;
        padding: 4px 16px;
        width: 130px;
        }
        .Page .ArrowToBottom i{
            margin-top: 100px;
            }
        .Slider{
            font-size: 16px;
            width: 400px;
        }
        .Slider .Arrow{
            top: 50%;
            padding: 3px 12px;
            border-radius: 50%;
            z-index: 10;
            font-size: 16px;
        }
    }

@media (max-width:713px) {
    .Home{
        padding: 15px 11% 30px 8%;
    }
    .Home .LeftHome .Hash h3{
        font-size: 22px;
        bottom: -10%;
    }
    .Page .ArrowToBottom i{
        font-size: 32px;
        }
    }

@media (max-width:655px) {
    .Home .LeftHome .buttons a{
        font-size: 12px;
        padding: 3px 15px;
        width: 120px;
        }
        .Slider{
            margin-top: 15%;
            font-size: 14px;
            width: 300px;
            padding: 15px 30px;
            height: 30px;        
        }
        .Slider .Arrow{
            padding: 2px 8px;
            font-size: 14px;
        }
    }


@media (max-width:584px) {
    .Home .LeftHome .buttons a{
        font-size: 12px;
        padding: 3px 15px;
        width: 120px;
        }
        .Home .LeftHome .Hash h3 {
            font-size: 19px;
            bottom: -10%;
        }
        .Home .LeftHome .buttons a {
            font-size: 11px;
            padding: 2px 12px;
            width: 110px;
        }
        .Slider{
            font-size: 12px;
            width: 300px;
            padding: 15px 30px;
            height: 30px;        
        }
        .Slider .Arrow{
            padding: 2px 8px;
            font-size: 14px;
        }
    }

@media (max-width:493px) {
    .Home .LeftHome .buttons {
        margin-top: 50px;
        justify-content: space-between;
        margin-right: -30px;
    }
    .Home .LeftHome .buttons a{
        font-size: 9px ;
        padding: 2px 8px;
        width: 80px;
        margin: 0px;
        border-width: 1px;
        box-shadow: 0px 0px 8px 1px #0283ed65;
        }
        .Home .LeftHome .Hash h3 {
            font-size: 16px;
        }
        .Home .RightHome .RightHomeImage{
            margin-top: -20px;
        }
        .Slider{
            width: 260px;
            margin-top: 20%;
        }
        .Slider .Arrow{
            padding: 1px 6px;
            font-size: 12px;
        }
    }

@media (max-width:420px) {
    .Home{
        margin-top: 50px;
    }
    .Home .LeftHome .buttons {
        margin-top: 50px;
        justify-content: space-around;
        margin-right: -20px;
    }
    .Home .LeftHome .buttons a{
        font-size: 7px ;
        padding: 2px 6px;
        width: 60px;
        }
        .Home .LeftHome .Hash h3 {
            font-size: 14px;
        }
        .Home .RightHome .RightHomeImage{
            margin-top: -25px;
        }
        .Slider{
            width: 220px;
            margin-top: 25%;
            font-size: 10px;
            height: 25px;
        }
        .Slider .Arrow{
            padding: 0px 6px;
            font-size: 10px;
        }
    }


@media (max-width:360px) {
        .Home .LeftHome .Hash h3 {
            font-size: 12px;
        }
    }
@media (max-width:350px) {
    .Home .LeftHome .buttons {
        margin-top: 40px;
        justify-content: space-between;
        margin-right: -20px;
    }
    .Home .LeftHome .buttons a{
        font-size: 6px ;
        padding: 1px 4px;
        width: 60px;
        }
        .Home .RightHome .RightHomeImage{
            margin-top: -15px;
        }
        .Page .ArrowToBottom i {
            font-size: 26px;
        }
        .Slider{
            width: 180px;
            font-size: 9px;
            height: 15px;
        }
    }

@media (max-width:308px) {
        .Home .LeftHome .Hash h3 {
            font-size: 10px;
        }
    }

@media (max-width:300px) {
    .Home .LeftHome .buttons {
        margin-top: 40px;
        justify-content: space-around;
        margin-right: -20px;
    }
    .Home .LeftHome .buttons a{
        font-size: 5px ;
        padding: 1px 4px;
        width: 45px;
        }
        .Home .RightHome .RightHomeImage{
            margin-top: -25px;
        }
        .Page .ArrowToBottom i {
            font-size: 26px;
        }
        .Slider{
            width: 150px;
            font-size: 8px;
        }
    }

@media (max-width:256px) {

        .Home .LeftHome .Hash h3 {
            font-size: 9px;
        }
    }
@media (max-width:250px) {
    .Home .LeftHome .buttons {
        margin-top: 30px;
        justify-content: space-between;
    }
        .Home .RightHome .RightHomeImage{
            margin-top: -30px;
        }
        .Page .ArrowToBottom i {
            font-size: 22px;
        }
        .Slider{
            width: 100px;
            font-size: 7px;
            height: 10px;
        }
    }
