.CareRooms{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0%;
    left: 0%;
    background: rgb(215,218,228);
    background: linear-gradient(180deg, rgba(212,219,227,1) 0%, rgba(238,238,240,1) 50%, rgba(212,219,227,1) 73%);
    border-radius: 15px;
    overflow-y: auto;
}
.CareRooms .Room{
display: flex;
justify-content: space-around;
align-items: center;
margin: 10px;
}
.CareRooms .Room:first-of-type{
margin-top: 40px;
}
.CareRooms .FreeRooms{
position: absolute;
top: 0%;
color: #0282ed;
font-size: 9px;
left: 4%;
top: 25px;
}
.CareRooms .Room input{
width: 50px;
outline: none;
border: 1px solid white;
border-radius: 30px;
height: 25px;
padding: 2px 5px;
color: #0282ed;
}
/* Select*/
.LeftSide .css-13cymwt-control ,.LeftSide .css-t3ipsp-control, .LeftSide .css-qbdosj-Input{
width: 200px;
font-size: 10px;
text-align: start;
border-radius: 15px !important;
}

.LeftSide .css-1nmdiq5-menu{
font-size: 9px;
}
.CareRooms .Repeater {
display: flex;
justify-content: space-between;
align-items: center;
}
.CareRooms .Repeater i{
background-color: #0282ed;
color: white;
padding: 5px;
border-radius: 50%;
cursor: pointer;
}
form .ChooseCity{
    width: 100%;
    margin: 15px 0px 5px;
    text-align: center;
}
form .ChooseCity button{
    background-color: #0282ed;
    color: white;
    font-weight: bold;
    padding: 3px 22px;
    border-radius: 20px;
    border: 1px solid #0282ed;
    cursor: pointer;
    font-size: 18px;
    height: min-content;
}

@media (max-width:540px) {
    .LeftSide .css-13cymwt-control ,.LeftSide .css-t3ipsp-control, .LeftSide .css-qbdosj-Input{
        width: 150px;
        }
}

@media (max-width:390px) {
    .LeftSide .css-13cymwt-control ,.LeftSide .css-t3ipsp-control, .LeftSide .css-qbdosj-Input{
    width: 130px;
    font-size: 8px;
    }
    .LeftSide .css-1nmdiq5-menu{
        font-size: 7px;
    }
    .CareRooms .Room input{
        height: 20px;
    }
}


/*Cares Page*/
.CaresCardForm{
    width: 360px;
    position: relative;
    padding-top: 25px;
    left: 0%;
    transform: translateX(0%);
    margin-left: -10px;
}
.CaresCard{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.CaresCard .RoomName{
    height: 30px;
    width: 63%;
    margin: 10px 0px;
}
.CaresCard .RoomNumber{
    height: 30px;
    width: 15%;
    margin: 10px 0px;
}

.CaresCard  input{
    border: 1px solid rgb(218, 218, 218);
    border-radius: 15px;
    height: 100%;
    width: 100%;
    font-size: 11px;
    background-color: white;
    color: rgb(177, 177, 177);
    font-weight: bold;
    text-align: center;
}

.CaresCard .RoomNumber input{
    font-size: 14px;
}

.RoomEditButton button , .AddRoomEditButton button{
    background-color: #0282ed;
    color: white;
    font-weight: bold;
    padding: 3px 12px;
    border-radius: 20px;
    border: 1px solid #0282ed;
    cursor: pointer;
    font-size: 12px;
    height: min-content;
}
.CaresCardForm .FreeRooms{
position: absolute;
top: 5%;
left: 19%;
font-size: 9px;
font-weight: bold;
}