nav{
    background: rgb(28,124,184);
    background: linear-gradient(100deg, rgba(28,124,184,1) 0%, rgba(2,130,237,1) 65%); 
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 60px;
}
.logo{
    width: 140px;
    height: 80px;
}
.logo img{
    width: 100%;
    height: 100%;
}
.list {
    background-color: white;
    width: 70%;
    padding: 10px 20px ;
    border-radius: 40px;
}
.list ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10px;
}
.list ul li a{
    font-size: 19px;
    cursor: pointer;
    font-family: 'Cairo', sans-serif;
    padding: 1px 15px;
}
.active-nav{
    color: white;
    background-color: #0282ed;
    border-radius: 30px;
}
.active-nav i{
    color: #0282ed !important;
    background-color:white  !important;
}

