.Page2icon1{
    background-image: url("../media/Page2icon1Background.png");
    background-size: cover;
    background-size: 100%;
    background-repeat: no-repeat;
    padding-bottom: 200px;
    display: flex;
    width: 100%;
}
.Page2icon1 .Left{
    width: 50%;
    padding-top: 40px;
    padding-right: 3%;
}
.Page2icon1 .Left .Top{
    margin-right: 2%;
    display: flex;
    width: max-content;
    color: #1a7cbb;
    border: 2px solid #1a7cbb;
    border-radius: 30px;
    padding:0px;
    justify-content: space-evenly;
}
.Page2icon1 .Left .Top h4{
    padding: 2px 55px;
    cursor: pointer;
}
.Activeh4AtBlood{
    background-color: #1a7cbb;
    color: white;
    border-radius: 16px;
}
.Page2icon1 .Left .Down{
    width: 400px;
    height: 350px;
}
.Page2icon1 .Left img{
    width: 100%;
    height: 100%;
}
.Page2icon1 .Right{
    width: 50%;
    padding-top: 20px;
    position: relative;
}
Form{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 300px;
    background: rgb(215,218,228);
    background: linear-gradient(180deg, rgba(212,219,227,1) 0%, rgba(238,238,240,1) 50%, rgba(212,219,227,1) 73%);
    border-radius: 15px;
    margin: 0px auto;
    padding: 15px 10px;
    color: #1a7cbb;
    box-shadow: 0px 5px 10px 1px gray;
    }

Form .inputselect{
    width: 100%;
    border-radius: 20px;
    height: 22px;
    margin-bottom: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    flex-wrap: wrap;
}
Form .inputselect span{
    position: absolute;
    background-color: white;
    width: 95%;
    height: 90%;
    transform: translate(0%,-48%);
    top: 50%;
    right: 2%;
    border-radius: 20px;
    color: #1a7cbb;
    font-size: 12px;
}
Form .inputselect input{
    border-radius: 20px;
    padding-right: 10px;
    font-size: 13px;
    color: #1a7dbb6b;
    cursor: default;
    height: 97%;
    width: 100%;
    border: 1px solid white;
    outline: none;
    font-weight: bold;
    background-color: white;
}
Form .inputselect input::placeholder{
    color: #0066b9;
}
Form .inputselect i{
    margin-left: 30px;
    font-size: 24px;
    color: #1a7cbb;
    cursor: pointer;
    position: absolute;
    left: 3%;
    z-index: 10;
}
Form .input label{
    padding-right: 5px;
    color: #1a7cbb;
    font-size: 14px;
}
Form .input input{
    border: 1px solid white;
    outline: none;
    border-radius: 30px;
    width: calc(100% - 20px);
    height: 22px;
    color: #1a7cbb;
    padding: 0px 10px;
    font-size: 16px;
}

.Error{
    border-color: #D8000C !important;
}
.Background,.Background1,.Background2{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.459);
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0%;
    border-radius: 15px;
    z-index: 100;
}
.BloodTypes{
    position: absolute;
    z-index: 99;
    background-color: white;
    display: flex;
    flex-wrap:wrap ;
    justify-content: space-around;
    align-items: center;
    border-radius: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #1a7cbb;
    transition-duration: 1s;
}
.BloodTypes span{
    font-size: 16px;
    padding: 1px 8px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    right: 0%;
    top: 0%;
    transform: translate(50%,-50%);
    cursor: pointer;
    color: black;
}
.BloodTypes::after{
    content: "";
    background-color: #1a7cbb;
    height: 100%;
    width: 1px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.BloodTypes div{
    width: 50%;
    text-align: center;
    border-bottom: 1px solid #1a7cbb;
    font-size: 20px;
    cursor: pointer;
}
.BloodTypes div:nth-of-type(1)
{
    border-radius: 0px 18px 0px 0px;
}
.BloodTypes div:nth-of-type(2)
{
    border-radius: 18px 0px 0px;
}
.BloodTypes div:nth-of-type(7)
{
    border: none;
    border-radius:0px 0px 18px 0px;
}
.BloodTypes div:nth-of-type(8)
{
    border: none;
    border-radius: 0px 0px 0px 18px;
}

.BloodTypeChoosed{
    background-color: #1a7cbb !important;
    color: white !important;
}
.Location{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    align-items: center;
}
.Location .thelocation{
    width: 25%;
}
.Location  .City{
    display: flex;
    align-items: center;
    width: 50%;
    justify-content: space-evenly;
    align-items: center;
    font-size: 20px;
    margin: 0px auto;
    display: none;
}
.Location  .City h3{
    font-size: 18px;
}
.Location  .City i{
    color: #D8000C;
    font-size: 12px;
    cursor: pointer;
    margin-top: 5px;
}
.Location .Search{
    width: 75%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Location .Search button{
    background-color: #0282ed;
    color: white;
    font-weight: bold;
    padding: 3px 22px;
    border-radius: 20px;
    border: 1px solid #0282ed;
    cursor: pointer;
    font-size: 11px;
    height: min-content;
}
.Submit , .DeleteButton ,.EditButton ,.LogoutButton{
    margin-top: 15px;
    text-align: center;

}
.Submit button , .DeleteButton button ,.EditButton button , .LogoutButton button{
    font-size: 16px;
    background-color: #0282ed;
    color: white;
    font-weight: bold;
    padding: 6px 20px;
    border-radius: 20px;
    border: 1px solid #0282ed;
    cursor: pointer;
}

.Alerts{
    margin: 20px 0px 10px;
    display: flex;
    justify-content: space-between;
    font-size: 14px;
}
.CallTime{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.CallTime h3{
    font-size: 16px;
}
.CallTime i{
    font-size: 18px;
    margin-left: 10px;
    cursor: pointer;
}
.CallTime h6{
    display: none;
}

.DatePicker{
    position: absolute;
    z-index: 99;
    background-color: white;
    border-radius: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #1a7cbb;
    transition-duration: 1s;
    font-size: 12px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 25px;
}
.DatePicker span i{
    font-size: 18px;
    padding: 4px 6px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    right: 3%;
    top: 3%;
    transform: translate(50%,-50%);
    cursor: pointer;
    color: black;
}

.Background2 button{
    position: absolute;
    bottom: 0%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.OldAccount{
    position: relative;
    width: 100%;
    height: 100%;
}

.OldAccount .MobileLogin{
    width: 250px;
    padding: 20px ;
    position: absolute;
    background-color: white;
    border-radius: 20px;
    left: 50%;
    top: 0%;
    transform: translate(-50%,20%);
    top: 0%;
    text-align: center;
    z-index: 12;
}
.MobileLoginImg{
    width: 200px;
    height: 110px;
    margin: 0px auto 10px;
}
.MobileLoginImg img{
    width: 100%;
    height: 100%;
}
.MobileLoginInput {
    text-align: center;
}
.MobileLoginInput label{
    display: block;
    font-size: 12px;
    color: #0282ed;
    font-weight: lighter;
}
.MobileLoginInput input{
    margin-top: 5px;
    border: 1px solid #0282ed;
    outline: none;
    border-radius: 30px;
    width: calc(100% - 20px);
    height: 22px;
    color: #1a7cbb;
    padding: 3px 10px;
    font-size: 14px;
    width: 80%;
}
.MobileLogin button{
    font-size: 16px;
    margin-top: 15px;
    background-color: #0282ed;
    color: white;
    font-weight: bold;
    padding: 5px 15px;
    border-radius: 20px;
    border: 1px solid #0282ed;
    cursor: pointer;
}
.MobileLoginHash{
    color: #1a7cbb;
    font-size: 12px;
    margin-top: 10px ;
}
.MobileLoginBackground{
    background-color: rgba(0, 0, 0, 0.459);
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 100%;
    left: 0%;
    border-radius: 15px;
    top: 0%;
    display: none;
    z-index: 11;
}
.TopButtons .TheTop{
display: flex;
justify-content: space-around;
margin-bottom: 15px;
}
.TopButtons button{
    font-size: 14px;
    background-color: #0282ed;
    color: white;
    font-weight: bold;
    padding: 4px 15px;
    border-radius: 20px;
    border: 1px solid #0282ed;
    cursor: pointer;
}
    .PatientCard{
        width: 80%;
        display: flex;
        background-color: #4b7c9d;
        align-items: center;
        color: white;
        padding: 8px 20px;
        margin: 0px auto;
        justify-content: space-between;
        border-radius: 22px;
        margin-bottom: 15px;
    }
    .PatientCard .PatientCardLeft{
    width: 82%;
    }
    .PatientCard .PatientCardLeft div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1px;
    }
    .PatientCard .PatientCardLeft h5{
        font-size: 10px;
    }
    .PatientCard .PatientCardLeft h6{
        font-size: 10px;
    }
    .PatientCard .PatientCardRight{
    width: 13%;
    }
    .PatientCard .PatientCardRight span{
    color: rgb(156, 0, 0);
    margin-right: -8px;
    font-size: 14px;
    position: relative;
    z-index: 1;
    background-color: white;
    padding: 1px 4px;
    border-radius: 50%;
    }

    .pagination {
        display: flex;
        justify-content: center;
        align-items: center;
        list-style: none;
        font-size: 12px;
        font-weight: bold;
        margin: 20px 0;
        direction: ltr;
    }
    .pagination li {
            display: inline-block;
        }
        
        .pagination li.active a{
            background-color: #007bff;
            color: #fff;
            border-color: #007bff;
        }
        
        .pagination a {
            text-decoration: none;
            color: inherit;
            margin: 0 3px;
            padding: 3px 10px;
            border: 1px solid #0066b9;
            border-radius: 30px;
            cursor: pointer;
        }
        
        .pagination a:hover {
            text-decoration: underline;
        }
        .NoPatients{
            transform: rotate(-40deg);
            font-size: 36px;
            position: relative;
            top: 0%;
            color: gray;
            margin: 90px 20px 80px;
            width: 100%;
        }
        .Page2icon1 .Left .Page2Icon4Img{
            width: 450px;
            height: 380px;
        }

        .Page2icon5 .Top{
            width: 600px;
            height: 300px;
            margin: 50px auto;
        }
        .Page2icon5 .Top img{
            width: 100%;
            height: 100%;
        }
        .Page2icon5 .Down .BloodQuestion{
            text-align: center;
            margin: 30px 0px;
            color: #0066b9;
        }


@media (max-width:996px) {
    .Page2icon1{
        padding-top: 50px;
    }
}
@media (max-width:900px) {
    .Page2icon1{
        flex-wrap: wrap;
        justify-content: center;
        flex-direction: column-reverse;
        align-items: center;
        padding-bottom: 480px;
        padding-top: 0px;
    }
    .Page2icon1 .Left{
        padding-right: 0px;
    }
    .Page2icon1 .Left .Down{
        margin-bottom: 50px;
    }
    .Page2icon1 .Left .Page2Icon4Img{
        margin-right: -7%;
    }
    Form{
        left: 50%;
        transform: translateX(-50%);
        margin-bottom: 100px !important;
    }
    .OldAccount .MobileLogin{
        padding: 20px ;
    }
}
@media (max-width:790px) {

    .Page2icon5 .Top{
        width: 500px;
        height: 280px;
    }
    .Page2icon5 .Down .BloodQuestion{
        font-size: 14px;
    }
}
@media (max-width:714px) {
    .Page2icon1 .Left{
        margin-right: -50px;
    }
    .Page2icon1 .Left .Page2Icon4Img{
        margin-right: -10%;
    }
}
@media (max-width:667px) {
    .Page2icon1 .Left{
        margin-right: -80px;
    }
}
@media (max-width:600px) {
    .Page2icon1 .Left{
        margin-right: -110px;
    }
    .Page2icon5 .Top{
        width: 400px;
        height: 220px;
    }
    .Page2icon5 .Down .BloodQuestion{
        font-size: 12px;
    }
}
@media (max-width:540px) {
    .Page2icon1 .Left{
        margin-right: -100px;
    }
    .Page2icon1 .Left .Top {
        margin-right: 40px;
    }
    .Page2icon1 .Left .Top h4 {
        padding: 2px 32px;
        font-size: 13px;
        border-radius: 12px;
    }
    .Page2icon1 .Left .Down {
        width: 350px;
        height: 300px;
    }
    .Page2icon1 .Left .Page2Icon4Img{
        margin-right: -1%;
    }
    Form{
    width: 250px;
    margin: 0px auto;
    padding: 15px 10px;
    }
    Form .inputselect input {
        font-size: 11px;
        height: 90%;
    }
    Form .inputselect i {
        font-size: 22px;
    }
    Form .fa-question{
        padding: 2px 4px !important;
    }
    Form .input label {
        font-size: 12px;
    }
    Form .input input {
        width: calc(100% - 20px);
        height: 20px;
        padding: 0px 10px;
        font-size: 14px;
    }
    .Location .thelocation {
        font-size: 12px;
        width: 15%;
    }
    .Location .Search {
        width: 80%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .Location .Search button {
        padding: 3px 17px;
        font-size: 11px;
    }
    .Alerts {
        font-size: 13px;
    }
    .CallTime h3 {
        font-size: 14px;
    }
    .CallTime i {
        font-size: 16px;
    }
    .CallTime h6{
        font-size: 9px;
    }

    .rdp {
        --rdp-cell-size: 30px !important;
    }
    .rdp-caption_label {
        font-size: 16px !important;
    }
    .rdp-nav button svg{
        height: 13px;
    }
        .TopButtons button{
            font-size: 13px;
            padding: 3px 11px;
            border-radius: 20px;
        }
        .OldAccount .MobileLogin {
            width: 200px;
        }
        .OldAccount .MobileLogin h4{
            font-size: 16px !important;
        }
        .Page2icon5 .Top{
            width: 350px;
            height: 200px;
        }
        .Page2icon5 .Down .BloodQuestion{
            font-size: 11px;
        }
}

@media (max-width:450px) {
    .Page2icon1 .Left{
        margin-right: -130px;
    }
    .Page2icon1 .Left .Top {
        margin-right: 35px;
    }
    .PatientCard .PatientCardLeft h5 {
        font-size: 8px;
    }
    .PatientCard .PatientCardLeft h6 {
        font-size: 9px !important;
    }
    .PatientCard .PatientCardRight span {
        font-size: 12px;
    }
}
@media (max-width:450px) {
    .Page2icon1 .Left .Down {
        width: 300px;
        height: 250px;
    }
    .Page2icon1 .Left{
        margin-right: -110px;
    }
    .Page2icon1 .Left .Top {
        margin-right: 10px;
    }
    .Submit button {
        font-size: 14px;
    }
    .Page2icon5 .Top{
        width: 300px;
        height: 180px;
    }
    .Page2icon5 .Down .BloodQuestion{
        font-size: 10px;
    }
}

@media (max-width:390px) {
    .Page2icon1 .Left .Down {
        width: 250px;
        height: 200px;
    }
    .Page2icon1 .Left{
        margin-right: -80px;
    }
    .Page2icon1 .Left .Top h4 {
        padding: 2px 20px;
        font-size: 10px;
        border-radius: 10px;
    }
    .Page2icon1 .Left .Top {
        margin-right: 30px;
    }
    Form .inputselect {
        margin-bottom: 20px;
    }
    Form .inputselect input {
        font-size: 10px;
    }
    Form .input label {
        font-size: 10px;
    }
    Form .input input {
        padding: 0px 10px;
        font-size: 12px;
    }
    .Submit button {
        font-size: 13px;
    }
    Form {
        width: 220px;
    }
    .Location .Search button {
        padding: 3px 15px;
        font-size: 10px;
    }
    .Location .City h3 {
        font-size: 16px;
    }
    .Location .City i {
        font-size: 10px;
    }
    .OldAccount .MobileLogin {
        width: 180px;
    }
    .MobileLoginImg {
        width: 170px;
        height: 100px;
    }
    .MobileLogin button {
        font-size: 14px;
        padding: 4px 12px;
    }
    
    .rdp {
        --rdp-cell-size: 28px !important;
    }
    .rdp-caption_label {
        font-size: 16px !important;
    }
    .rdp-nav button svg{
        height: 13px;
    }
    .rdp-head_cell{
    font-size: 8px !important;
    }
    .rdp-tfoot p{
        margin-top: 5px !important;
    }

    .CallTime h6{
        font-size: 7px;
    }
    .TopButtons button{
        font-size: 11px;
        padding: 3px 8px;
    }
    .OldAccount .MobileLogin h4{
        font-size: 14px !important;
    }
    .Page2icon5 .Top{
        width: 250px;
        height: 150px;
    }
    .Page2icon5 .Down .BloodQuestion{
        font-size: 8px;
    }
}

@media (max-width:350px) {
    .Page2icon1 .Left{
        margin-right: -95px;
    }
    .Page2icon1 .Left .Top {
        margin-right: 30px;
    }
}

@media (max-width:290px) {
    .Page2icon1 .Left{
        margin-right: -70px;
    }
    .Page2icon1 .Left .Top {
        margin-right: 10px;
    }
    .Page2icon1 .Left .Down {
        width: 220px;
        height: 170px;
    }
    Form .inputselect input {
        font-size: 8px;
    }
    .Page2icon5 .Top{
        width: 220px;
        height: 120px;
    }
    .Page2icon5 .Down .BloodQuestion{
        font-size: 6px;
    }
}
