body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Cairo', sans-serif;
  height: auto;
  height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

*{
  direction: rtl;
  padding: 0%;
  margin: 0%;
  scroll-behavior: smooth;
}

ul{
  list-style: none;
  margin: 0;
  padding: 0%;
}
a{
  text-decoration: none;
  color: rgb(28,124,184);
}
